.grey-out {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 3;
    background-color: none;
    transition: background-color 0.3s ease-in;
}

.show-grey {
    display: block;
    background-color: rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

.hide-grey {
    display: none;
    background-color: none;
    transition: background-color 0.3s ease-in;
}
