.header {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 600 bold;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 15vw;
    min-height: 9rem;
    max-height: 25rem;
    width: 100vw;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    .header {
        font-size: 24px;
    }
}

