.footer {
    display: flex;
    flex-direction: row;
    background: #565656;
    height: 100vh;
    width: 100%;
}

.font-dark {
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    line-height: 1.55;
    color: #f9f9f9;
    opacity: 0.48;
    font-size: 13px;
}

.margin-top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.font-light {
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    line-height: 1.55;
    color: white;
    font-size: 11px;
}

.font-lighter {
    font-family: Montserrat,sans-serif;
    font-weight: bold;
    line-height: 1.55;
    color: rgba(244,244,244, 0.8);
    font-size: 11px;
}

.font-large {
    color: #f9f9f9;
    font-size: 50px;
    line-height: 1;
    font-family: "Work Sans",sans-serif;
}

.socials {
    color: #f9f9f9;
    opacity: 0.9;
    font-size: 13px;
}

.copyright {
    color: #f9f9f9;
    font-size: 11px;
    opacity: 0.9;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0;
}

.span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;;
    width: 330px;
    font-size: 15px;
    color: rgb(238, 238, 238);
}

.wide {
    display: flex;
    flex-direction: row;
    width: 575px;
    align-items: flex-end;
    margin-top: 23px;
}

.sign-up {
    height: 35px;
    background: rgb(132, 136, 143);
    width: 70px;
    outline: none;
    border: none;
}

.sign-up:hover {
    cursor: pointer;
}

.input {
    width: 475px;
    height: 43px;
    border-radius: 3px;
    background: rgba(68,68,68, 0.8);
    border: 1px solid;
    border-color: rgba(244,244,244, 0.7);
    padding-left: 25px;
    font-size: 12px;
    transition: border-color 0.2s ease-in;
    color: rgba(244,244,244, 0.7);
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.input::placeholder {
    font-size: 14px;
    color: rgba(244,244,244, 0.5);
}

.input:hover {
    border-color: black;
    transition: border-color 0.2s ease-in;
}

.border {
    border: 1px solid;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 700px;
}

.column { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.border-right {
    border-right: 1px solid;
    border-color: #636363;
}

.social {
    height: 25px;
    width: 25px;
    background: none;
    fill: none;
    outline: none;
    border: none;
    filter: none;
    transition: filter 0.2s ease-in;
    margin-right: 5px;
}

.social:hover {
    cursor: pointer;
    filter: invert(90%);
    transition: filter 0.2s ease-in;
}

input[type=checkbox] {
    height: 21px;
    width: 21px;
    margin-right: 4px;
}

.underline {
    border-bottom: 1px dotted currentColor;
}

.link {
    width: 50%;
}

.link:hover {
    cursor: pointer;
    color: #1990c6;
    transition: color 0.2s ease-in;
}

.link:focus {
    color: #1990c6;
}