.drop-down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f9f9f9;
    align-items: center;
    z-index: 5;
    position: absolute;
    height: 0;
    transition: height 0.4s ease-in;
}

.show {
    height: 195px;
    transition: height 0.2s ease-in;
    width: 100%;
    top: 81px;
}

.button {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
}

.button:hover {
    cursor: pointer;
    color: #1990c6;
}

.button:focus {
    color: #1990c6;
}


.large-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #707070;
    font-weight: 600;
}

.margin-right-large {
    margin-right: 40px;
}

.grey-out {
    border: 1px solid;
}