.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 320px) {
    .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1025px) {
    .row {
        justify-content: flex-end;
    }
}

.row-links {
    width: 1050px;
}

@media screen and (max-width: 1025px) {
    .showOnDesktop {
        display: none;
    }
}

.nav-bar {
    border-bottom: 1px solid;
    border-color: #E8E8E8;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 50px;
    align-content: center;
}

@media screen and (max-width: 480px) {
    .nav-bar {
        height: 50px;
    }
}
@media screen and (max-width: 1025px) {
    .nav-bar {
        padding-left: 30px;
    }
}

.margin-right {
    margin-right: 25px;
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #707070;
    font-weight: 500;
}

@media screen and (max-width: 1275px) {
    .font {
        font-size: 11px;
    }
}

.button {
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    transition: color 0.2s ease-in;
}

.button:hover {
    cursor: pointer;
    color: #1990c6;
    transition: color 0.2s ease-in;
}

.button:focus {
    color: #1990c6;
}


