.app-container {
    display: flex;
    flex-direction: row;
}

.app-main {
    position: absolute;
    right: 0;
    transition: right 0.3s ease-in;
    width: 100vw;
}

.app-main-search {
    position: absolute;
    right: 25vw;
    transition: right 0.3s ease-in;
    overflow: hidden;
    height: 100vh;
}

